<div class="flex-column bg-white card p-2 top-0 col-12 col-md-10">
  <div
    class="mb-4 d-flex align-items-center position-sticky p-2"
    style="top: 0; z-index: 1000; background: white"
  >
    <div class="d-flex">
      <button
        onclick="window.location.href='/movies'"
        class="btn btn-secondary d-flex justify-content-center align-items-center"
      >
        <span class="material-icons me-2">arrow_back</span>
      </button>
    </div>
    <h1 class="ms-3">Crear Pelicula</h1>
  </div>

  <form
    action="/movies"
    method="POST"
    enctype="multipart/form-data"
    class="row g-3 needs-validation"
    novalidate
  >
    <div class="col-12 d-flex justify-content-center mb-3">
      <div id="posterPreviewContainer">
        <img
          id="posterPreview"
          src="https://res.cloudinary.com/doypmjt76/image/upload/v1748286735/image-default_lkeqa2.png"
          alt="Vista previa del Poster"
          style="
            max-width: 150px;
            max-height: 200px;
            border: 1px solid #ddd;
            padding: 5px;
            object-fit: cover;
          "
        />
      </div>
    </div>

    <div class="col-md-6">
      <label for="poster" class="form-label">Poster (*)</label>
      <input
        type="file"
        class="form-control"
        id="poster"
        name="poster"
        accept=".jpg, .jpeg, .png, .gif"
        required
      />
      <div class="invalid-feedback">Este campo es requerido</div>
    </div>

    <div class="col-md-6">
      <label for="title" class="form-label">Título (*)</label>
      <input
        type="text"
        class="form-control"
        id="title"
        name="title"
        required
      />
      <div class="invalid-feedback">Este campo es requerido</div>
    </div>

    <div class="col-12">
      <label for="summary" class="form-label">Resumen (*)</label>
      <textarea
        class="form-control"
        id="summary"
        name="summary"
        rows="3"
        required
      ></textarea>
      <div class="invalid-feedback">Este campo es requerido</div>
    </div>

    <div class="col-md-4">
      <label for="category_id" class="form-label">Categoría (*)</label>
      <select id="category_id" name="category_id" class="form-select" required>
        <option selected disabled value="">Seleccione una categoría</option>
        <% categories.forEach(function(category) { %>
        <option value="<%= category.idCategoria %>">
          <%= category.descripcion %>
        </option>
        <% }); %>
      </select>
      <div class="invalid-feedback">Este campo es requerido</div>
    </div>

    <div class="col-md-4">
      <label for="cantidadTemporadas" class="form-label">Temporadas (*)</label>
      <input
        type="number"
        class="form-control"
        id="cantidadTemporadas"
        name="cantidadTemporadas"
        min="1"
        required
      />
      <div class="invalid-feedback">Este campo es requerido</div>
    </div>

    <div class="col-md-4">
      <label for="trailer" class="form-label">Link de Trailer</label>
      <input
        type="text"
        class="form-control"
        id="trailer"
        name="trailer"
        value="N/A"
      />
    </div>

    <div class="col-md-6">
      <label for="genres" class="form-label">Géneros (*)</label>
      <select multiple class="form-select" id="genres" name="genres[]" required>
        <% genres.forEach(function(genre) { %>
        <option value="<%= genre.idGenero %>"><%= genre.descripcion %></option>
        <% }); %>
      </select>
      <small class="text-muted"
        >Ctrl (Windows) o Cmd (Mac) para selección múltiple</small
      >
      <div class="invalid-feedback">Este campo es requerido</div>
    </div>

    <div class="col-md-6">
      <label for="actors" class="form-label">Actores (*)</label>
      <select multiple class="form-select" id="actors" name="actors[]" required>
        <% actors.forEach(function(actor) { %>
        <option value="<%= actor.idActor %>"><%= actor.nombre %></option>
        <% }); %>
      </select>
      <small class="text-muted"
        >Ctrl (Windows) o Cmd (Mac) para selección múltiple</small
      >
      <div class="invalid-feedback">Este campo es requerido</div>
    </div>

    <div class="col-12">
      <button type="submit" class="btn btn-primary">Guardar Película</button>
    </div>
  </form>

  <script src="/js/form-validation.js"></script>
</div>
